

 /* :root {
    --primary: #18253c;

    --secondary: #00dd53;
    --bg: #0e1523;

} */
/* 
 .slider {
    background-color: var(--bg);
    padding: 1rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    grid-gap: 2rem;

    font: normal 1rem sans-serif;
} */


/* .card {
    position: relative;
    width: 17rem;
    height: 23rem;
    background-color:var(--primary);
    color: #fff;
    border-radius: 1rem;
    border: .1rem solid transparent;
    overflow: hidden;
    box-shadow: 0 .2rem .6rem #0003;
    transition: .5s ease-in-out;
}

.card:hover {
    border: .1rem solid var(--secondary);
    transform: scale(1.05);
} */

.slider
{
    width: 100%;
    height: 60vh;
}

.box-1{
    width: 100%;
    height: fit-content;
}

/* categorycard */
.catcard
{
  width: 350px;
  height: 350px;
  margin-top: 10px;
  box-shadow: 0px 3px 5px #fd8eaf;
}

 .catbox
 {
  margin: 20px;
 }


.feature_section .features-box {
  background-color: transparent;
  border: 0.01rem solid #fd8eaf;
  padding: 2rem 0;
  transition: all 0.3s;
  border-radius: 20%;

}

.feature_section .features-box .features-icon-border {
  background-color: transparent;
  border-radius: 30%;
  border: 0.2rem solid var(#fd8eaf);
  padding: 1.3rem;
  display: inline-block;
}

.feature_section .features-box .features-icon {
  height: 10rem;
  width: 10rem;
  background-color: var(#fd8eaf);
  margin: auto;
  border-radius: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature_section .features-box .features-icon img {
  width: 10rem;
  height: 10rem;
}

.feature_section .features-box h3 {
  margin-top: 1.5rem;
  color: var(--primary-text);
}

.feature_section .features-box:hover {
  /* background-color: #03262c;
  border-color: #03262c; */
  background-color: #05d0f4;
  border-color: #05d0f4;
  transform: translateY(-10px);
 
}

.feature_section .features-box:hover h3 {
  color: #fff;
}

.feature_section .features-box:hover .features-icon-border {
  border-color:#fd8eaf;
}


/* category */

/*
==========================================
 about section Design
==========================================
*/
.about-section {
    background: var(--white-color);
  }
  .about-section .card,
  .about-section .card img {
    border-radius: 0.625rem;
  }
  .about-section .text-sec {
    padding-left: 2rem;
  }
  
  /*
  ==========================================
   food type section Design
  ==========================================
  */
  .food-type {
    padding-top: 3.25rem;
  }
  .food-type ul li {
    font-size: 1rem;
    color: var(--text-color);
    line-height: 32px;
    position: relative;
    margin-left: 30px;
  }
  .food-type ul li::before {
    position: absolute;
    left: -2.1875rem;
    color: var(--primary-color);
    font-size: 1.25rem;
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
  }

  .story-section {
    width: 100%;
    height: 28.125rem;
    background-size: cover;
    padding-top: 100px;
    text-align: center;
  }
  .story-section h2 {
    color: var(--primary-color);
  }

  .testtext{
    font-size: 3rem;
    line-height: 1.4;
    font-weight: 600;
    color: var(--primary-text);
   
  }

  /* testimonial */
.carousel-inner {
  display: flex;
  text-align: center;
  /* background-color: lightgrey; */
  background-color: wheat;
  align-items: center;
  height:400px ;
}

.carousel-control-prev-icon{
  color: #000;
}

