

 /* :root {
    --primary: #18253c;

    --secondary: #00dd53;
    --bg: #0e1523;

} */
/* 
 .slider {
    background-color: var(--bg);
    padding: 1rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    grid-gap: 2rem;

    font: normal 1rem sans-serif;
} */


/* .card {
    position: relative;
    width: 17rem;
    height: 23rem;
    background-color:var(--primary);
    color: #fff;
    border-radius: 1rem;
    border: .1rem solid transparent;
    overflow: hidden;
    box-shadow: 0 .2rem .6rem #0003;
    transition: .5s ease-in-out;
}

.card:hover {
    border: .1rem solid var(--secondary);
    transform: scale(1.05);
} */

.slider
{
    width: 100%;
    height: 60vh;
}

.box-1{
    width: 100%;
    height: fit-content;
}

/* categorycard */
.catcard {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 250px;
  margin: 0.5rem;
  position: relative;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catcard {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.catcard:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.features-text{
  margin-top: 20px;
}

/* course */
.ccard {
  width: 300px;
  height: 350px;
  overflow: hidden;
  position: relative;
}
.ccard .main-content {
  width: 100%;
  height: 100%;
}
.ccard:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.ccard .main-content img {
  width: 100%;
  height: 50%;
}
.ccard .overlay-content {
  width: 100%;
  height: 100%;
  background-color: lightgray;
  color: #080808;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  transition: 0.6s;
/*   top: 0%; */
  top: 100%;
  opacity: 0.8;
}
.ccard:hover .overlay-content {
  /* left: 0; */
  transform: translateY(-13%);
}
.cbtn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}


@media (max-width: 576px) {
  .ccard {
    width: 300px;
    height: 450px;
  }
}

/* category */

/*
==========================================
 about section Design
==========================================
*/
.about-section {
    background: var(--white-color);
  }
  .about-section .card,
  .about-section .card img {
    border-radius: 0.625rem;
  }
  .about-section .text-sec {
    padding-left: 2rem;
  }
  
  /*
  ==========================================
   food type section Design
  ==========================================
  */
  .food-type {
    padding-top: 3.25rem;
  }
  .food-type ul li {
    font-size: 1rem;
    color: var(--text-color);
    line-height: 32px;
    position: relative;
    margin-left: 30px;
  }
  .food-type ul li::before {
    position: absolute;
    left: -2.1875rem;
    color: var(--primary-color);
    font-size: 1.25rem;
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
  }

  .story-section {
    width: 100%;
    height: 28.125rem;
    background-size: cover;
    padding-top: 100px;
    text-align: center;
  }
  .story-section h2 {
    color: var(--primary-color);
  }

  .testtext{
    font-size: 3rem;
    line-height: 1.4;
    font-weight: 600;
    color: var(--primary-text);
   
  }

  /* testimonial */
.carousel-inner {
  display: flex;
  text-align: center;
  /* background-color: lightgrey; */
  /* background-color: wheat; */
  align-items: center;
  height:400px ;
}

.carousel-control-prev-icon{
  color: #000;
}

.card1{
  background-image: url("./image/dv.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;  
}

.card2{
  background-image: url("./image/mm.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;  
}
.card3{
  background-image: url("./image/it.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;  
}
.card4{
  background-image: url("./image/mk.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;  
}

.card5{
  background-image: url("./image/pd.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;  
}

.card6{
  background-image: url("./image/op.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;  
}

.card7{
  background-image: url("./image/pho.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;  
}

.card8{
  background-image: url("./image/lop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;  
}